---
import backgroundImage from "~/assets/comedor.webp";
import { Image } from "astro:assets";
import { orderUrl } from "~/constants";
---

<section class="relative">
  <h1 class="sr-only">Casa Real Mexican Restaurant</h1>
  <Image
    class="w-full h-svh object-cover object-center"
    src={backgroundImage}
    densities={[1.5, 2]}
    format="webp"
    loading="eager"
    decoding="async"
    alt="Restaurant with tables, chairs and bar"
  />
  <div class="absolute w-full inset-0 bg-stone-900/75"></div>
  <div class="absolute inset-0 flex flex-col justify-center items-center p-6">
    <span class="text-cameo-100 text-base sm:text-lg italic">Bienvenidos a</span
    >
    <h2
      class="text-4xl sm:text-6xl md:text-8xl font-bold text-cameo-300 text-center mt-3"
    >
      Casa Grande
    </h2>
    <p class="text-lg lg:text-xl text-stone-300 text-center mt-2">
      Authentic Mexican Restaurant in Williston, VT
    </p>
    <div
      class="flex flex-col sm:flex-row w-full justify-center items-center mt-6 gap-3 sm:gap-6"
    >
      <a
        href={orderUrl}
        rel="noopener noreferrer"
        class="w-full sm:w-fit px-6 p-2 text-lg text-center font-bold text-white bg-cameo-700 hover:bg-cameo-600 rounded-md transition-colors"
        >Order Now</a
      >
      <a
        href="https://maps.app.goo.gl/ZoBfCbpKFCik5eR1A"
        rel="noopener noreferrer"
        class="w-full sm:w-fit px-6 p-2 text-lg text-center font-bold text-amber-500 border-2 border-amber-500 hover:bg-amber-500 hover:text-white rounded-md transition-colors"
        >Directions</a
      >
    </div>
  </div>
</section>
