---
import { popularDishes } from "~/constants";
import PopularCard from "~/components/PopularCard.astro";
---

<section class="bg-white py-12 md:py-20 px-4">
  <div
    class="flex w-full flex-col items-center justify-center max-w-6xl mx-auto"
  >
    <span
      class="inline-block text-sm font-semibold tracking-tight bg-amber-400 text-amber-950 px-3 py-1 rounded-full text-center"
      >Popular dishes</span
    >
    <h2
      class="text-3xl text-pretty text-center mt-3 font-bold tracking-tighter md:text-4xl"
    >
      Our costumer's favorites
    </h2>
    <p class="text-cameo-700 mt-2 text-pretty max-w-prose text-center text-lg">
      Discover the most popular dishes in our restaurant
    </p>
    <ul class="w-full grid grid-cols-1 md:grid-cols-3 mt-6 md:mt-12 gap-8">
      {popularDishes.map((dish) => <PopularCard {...dish} />)}
    </ul>
  </div>
</section>
