---
import { navLinks } from "~/constants";
---

<header
  class="w-full z-20 text-white fixed top-0 sticky-animation py-6 px-4 xl:px-0"
  class:list={{
    "relative bg-stone-900": Astro.url.pathname !== "/",
  }}
>
  <div class="flex items-center justify-between max-w-6xl mx-auto">
    <a href="/" class="flex flex-col items-center"
      ><span class="text-2xl sm:text-7xl font-serif">Casa Grande</span>
      <span
        class="uppercase tracking-wider text-xs font-serif sm:text-base px-1 bg-amber-400 w-full text-center text-stone-900"
        >Mexican Restaurant</span
      ></a
    >
    <nav
      class="flex flex-col gap-0.5 items-end uppercase tracking-wide text-sm sm:text-base"
    >
      {
        navLinks.map((link) => (
          <a href={link.href} class="hover:underline">
            {link.name}
          </a>
        ))
      }
      <a
        href="https://www.foodbooking.com/api/fb/_q_jndx"
        class="bg-amber-600 px-1 hover:underline rounded">Order Now</a
      >
    </nav>
  </div>
</header>
<style>
  .sticky-animation {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
  }

  @keyframes blur {
    to {
      @apply bg-stone-900 backdrop-blur;
    }
  }
</style>
