---
import { menu } from "~/constants";
---

<aside
  id="tableOfContents"
  class="hidden md:block w-1/4 sticky top-6 self-start min-w-40"
>
  <ul class="grid grid-cols-1 text-stone-600">
    {
      menu.map((category) => (
        <li>
          <a
            class="block aria-[current]:bg-amber-400 hover:bg-amber-400 aria-[current]:text-amber-950 aria-[current]:font-semibold hover:text-amber-950 px-2 py-1"
            href={"#" + category.id}
          >
            {category.label}
          </a>
        </li>
      ))
    }
  </ul>
</aside>
